@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&family=Fruktur&family=Fugaz+One&family=Lobster&family=Luxurious+Roman&family=Monoton&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Righteous', cursive;
}

.container {
    background-color: #2f3552;
}

.navbar {
    font-size: 28px;
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item a {
    color: white;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: white;
}

span {
    color: #e15e9a;
}

h3 {
    color: #e15e9a;
}

.blog {
    padding: 15px;
}


/* 
.p-3 {
    background-color: #F4B101;
} */

.p-3:hover {
    background-color: white;
    /* box-shadow: 4px 2px 2px 4px white; */
}

.sign p {
    color: #69bbe1;
    text-align: center;
    font-size: 24px;
}

.log {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 0 40px;
    box-sizing: border-box;
}

.form-group {
    position: relative;
    border-bottom: 2px solid #e15e9a;
    margin: 30px 0;
    color: #69bbe1;
}

.form-group input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.content {
    color: #e15e9a;
    line-height: 8rem;
    margin-top: 8rem;
    font-size: 27px;
}

.carousel {
    padding-top: 5rem;
    height: 60vh;
}

.in {
    margin-top: 3rem;
    color: #e15e9a;
}

.btn {
    background-color: #e15e9a;
    color: white;
}

.tip {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none !important;
}

.prof p {
    color: white;
}

.comment {
    display: flex;
    justify-content: space-around;
}

.comment input {
    width: 60%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: 2px solid #69bbe1;
    background: none;
    /* outline: none; */
}

.quote {
    color: white;
    text-align: center;
}

strong {
    font-size: 28px;
    color: #F4B101;
}

.tips img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.home {
    background-color: #2f3552;
}

.articles {
    /* border-bottom: 10px solid ;
    border-top: 10px solid blueviolet;
    border-left: 10px solid #f76e1f;
    border-right: 10px solid #2fd8fc; */
    border: 3px solid #e15e9a;
    border-radius: 10px;
    width: 20%;
    color: #69bbe1;
    padding: 1rem;
    margin: 2rem 0px 2rem 0rem;
    text-align: center;
}

.crd {
    background-color: transparent;
}

.tipp {
    text-align: center;
    color: #192f40;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
}

.first {
    background-color: #e15e9a;
}

.second {
    background-color: #69bbe1;
}

.third {
    background-color: #f3a64a;
}

.one {
    background-image: url('../static/images/aaaa.jpg');
}

.two {
    background-image: url('../static/images/aa.jpg');
}

.three {
    background-image: url('../static/images/aaa.jpg');
}

.par {
    background: rgba(0, 0, 0, 0.7);
    /* background-color: #F4B101; */
    width: 380px;
    height: 370px;
    border-radius: 50%;
    color: white;
    text-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}

.blogbtn {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.logs {
    color: white;
}