@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&family=Fruktur&family=Fugaz+One&family=Lobster&family=Luxurious+Roman&family=Monoton&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Fruktur', cursive;
    font-family: 'Fugaz One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Righteous', cursive;
}

.home {
    /* border: 15px solid#ff0000; */
    /* margin-top: 1rem; */
    background-color: black;
}

.navbar {
    font-size: 28px;
}

.nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item a {
    color: #ff0000;
    font-size: 24px;
}

h1 {
    text-align: center;
    color: white;
}

span {
    color: #ff0000;
}

.blog {
    padding: 15px;
}

.p-3 {
    box-shadow: 2px 2px 2px 2px white;
    background-color: white;
}